<% content_for :body_id do %>
  id="default_timer_page"
<% end %>


<h1>Default Timer</h1>

<p>
You should see the "Default Timer" controller start on page load.  It should add a refresh
message everytime you leave the page and come back.  It should refresh every 60
seconds while you are sitting on the page.  It should never refresh while this 
window/tab does not have the focus.
</p>
