<p>
  Please click on the test you would like to view below:
</p>
<ul>
  <li><%= link_to 'Refresh policy test', test_default_timer_path %></li>
  <li><%= link_to 'Unobtrusive JS test', form_index_path %></li>
</ul>
