<% content_for :body_id do %>
  id="no_refresh_page"
<% end %>


<h1>No Refresh</h1>

<p>
You should see the "No Refresh" controller start on page load.  It should never add a
refresh message regardless of whether you leave the page and come back and no matter
how long you are sitting on the page.
</p>
