<% content_for :body_id do %>
  id="no_timer_page"
<% end %>

<% content_for :test_heading do %>

<h1>No Timer</h1>

<p>
You should see the "No Timer" controller start on page load.  It should add a refresh
message everytime you leave the page and come back.  It should never refresh while you
are sitting on the page or while this window/tab does not have the focus.
</p>

<% end %>
