<% content_for :body_id do %>
  id="override_timer_page"
<% end %>

<% content_for :test_heading do %>

<h1>Override Timer</h1>

<p>
You should see the "Override Timer" controller start on page load.  It should add a
refresh message everytime you leave the page and come back.  It should refresh every 5
seconds while you are sitting on the page.  It should never refresh while this 
window/tab does not have the focus.
</p>

<% end %>
