<h1>This is the page that all turbolink'd GET's and redirects go</h1>

<p id="cache-status">
</p>

<%= render 'status' %>

<div id="clientize_scope">
  <p>
    <%= link_to "Back to main forms page", form_index_path %>
  </p>

</div>